@import "nullstyle.scss";
body{
  background: #141414;
}
.Border-Inner{
  border: 1px solid #4f4f50;
  border-radius: 13px;
  background-color: #222222;
}
.wrapper{
  width: 1024px;
  margin: 0 auto;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 48px;
  background: #222222;
}
.header__nav{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  button{
    background: transparent;
    border: 0px;
  }
  ul{
    margin: 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 9px;
    padding-inline-start: 0px;
  }
  li{
    list-style-type: none;
  }
  p{
    margin: 0px;
  }
}
.feedLink{
  width: 165px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchField{
  width: 230px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background: #424242;
  img{
    position: relative;
    left: 10px;
    
  }
  input{
    padding-left: 15px;
    background: transparent;
    border: 0px;
  }
}
.notification{
  width: 48px;
  padding: 1px 0px 0px 6px;
}
.musicPlayer-container{
  width: 495px;
}
.musicPlayer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 385px;
  p{
    color: #858585;
    width: 270px;
  }
}
.profileLink{
  width: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  img{
    width: 32px;
    height: 32px;
    border-radius: 100px;
  }
}
.sevice-button{
  margin-right: 10px;
}
main{
  display: grid;
  grid-template-columns: 16.5% 83.5%;
  height: 2000px;
  margin: 45px auto 0px auto;
}
.side-bar{
}
.side-bar__menu{
  ul{
    padding: 0px;
  }
  li{
    width: 164px;
    margin: 0px 0px 6px 0px;
    list-style-type: none;
  }
  span{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 400px;
    color: #E1E3E6;
  }
}
.side-bar__item{
  width: 164px;
  height: 30px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.side-bar__link_container{
  width: 148px;
  :hover{
    background: red;
  }
}
.side-bar__link{
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.side-bar__setting-button{
  width: 14px;
  height: 30px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  :hover{
    color: #858585;
  }
}
.side-bar__separator{
  width: 113px;
  height: 1px;
  background: #b6b6b6;
  cursor: default;
  margin: 8px 0px 8px 50px;
}
.Profile__Wrapper{
  width: 100%;
  margin: 17px 0px 0px 10px;
  padding-right: 15px;
}
.Profile__Header{
  width: 100%;
}
.Profile__Header_Banner{
  height: 250px;
  border: 1px solid #4f4f50;
  border-radius: 13px;
  background-position:center;
  background-size:cover;
  background-image: url(../img/Banner.jpg);
}
.Profile__Header_Info{
  width: 96.45%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  bottom: 25px;
  padding: 15px;
  background-color: #222222;
}
.Profile__Header_Avatar{
  position: relative;
  bottom: 85px;
}
.Avatar_150{
  width: 150px;
  height: 150px;
  border: 4px solid #222222;
  border-radius: 80px;
}
.Profile__Avatar_OnlineBar{
  position: relative;
  bottom: 35px;
  left: 120px;
}
.Online__Yes{
  width: 13px;
  height: 13px;
  background: #4bb34b; 
  border: 3px solid #222222;
  border-radius: 80px;
}
.Profile__Header_MainInfo{
  width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Profile__MainInfo_Name{
  display: flex;
  flex-direction: row;
  align-items: center;
  h2{
    color: #E1E3E6;
    font-weight: 600px;
    font-size: 21px;
    margin: 0px 10px 0px 0px;
  }
  button{
    width: 20px;
    height: 20px;
    background: transparent;
    border: 0px;
    padding: 0px;
  }
  img{
    width: 20px;
    height: 20px;
  }
}
.Profile__MainInfo_Status{
  color: #E1E3E6;
}
.Profile__MainInfo_Music{
  display: flex;
  flex-direction: row;
  align-items: center;
  a{
    color: #529EF4;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
  }
}
.Profile__MainInfo_AdditionInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Profile__AdditionInfo_InfoBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  img{
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
  button{
    background: transparent;
    border: 0px;
    color: #858585;
    font-size: 13px;
    font-weight: 400px;
    padding: 0px;
  }
  a{
    color: #858585;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400px;
  }
}
.Profile__Header_Actions{
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.Profile__Actions_Block{
  background: #424242;  
  font-size: 12px;
  color: #E1E3E6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  a{
    color: #E1E3E6;
    text-decoration: none;
    padding: 8px 16px;
  }
  span{
    padding: 8px 16px;
  }
}
.Profile__Main_Container{
  display: grid;
  grid-template-columns: 63% 37%;
}
.Profile__Main_Column{

}
.Profile__Column_Photos{
  padding: 18px;
  background-color: #222222;
}
.Profile__Photos_Container{
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-between;
}
.Profile__Photos_Tab-container{
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  :hover{
    background: #424242;
  }
}
.Profile__Photos__Tab{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 8px;
  border-radius: 7px;
  font-size: 14px;
  color: #858585;
  img{
    margin-right: 5px;
  }
}
.Profile__Photos__Tab_Active{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 8px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #E1E3E6;
  background: #333333;
  img{
    margin-right: 5px;
  }
}
.Profile__Photos_Settings{
  display: flex;
  flex-direction: row;  
  align-items: center;
}
.Profile__Photos_Gallery{
  margin: 8px 0px 12px 0px;
  img{
    object-fit: cover;
    width: 169px;
    height: 169px;
    margin-right: 10px;
    border-radius: 10px;
  }
}
.Profile__Photos_Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #E1E3E6;
  font-size: 14px;
  button{
    width: 49%;
    height: 32px;
    border: 0px;
    border-radius: 8px;
    background: #424242;
  }
}
.Profile__Main_Posting-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 10px 15px;
  background-color: #222222;
}
.Profile__Posting_Avatar{
  img{
    width: 28px;
    height: 28px;
    border-radius: 60px;
  }
}
.Profile__Posting_Button{
  width: 55%;
  font-size: 13px;
  color: #858585;
}
.Profile__Posting_Separator{
  width: 1px;
  height: 12px;
  background: #424242;
  margin: 0px 10px;
}
.Profile__Main_Wall{

}
.Profile__Wall_Header{
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Profile__Header_Tabs-Container{
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  :hover{
    background: #424242;
  }
}
.Profile__Tabs-Container_Tab{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 8px;
  border-radius: 7px;
  font-size: 14px;
  color: #858585;
}
.Profile__Tabs-Container_Tab_Active{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #E1E3E6;
  background: #333333;
}
.Profile__Wall_No-Post{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  color: #858585;
}
.Profile__Main_Info{
  margin-left: 16px;
}
.Profile__Main_Tester{
  margin-bottom: 16px;
}
.Profile__Tester_Container{
  padding: 16px;
  span{
    color: #E1E3E6;
    margin-left: 10px;
  }
  a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
}
